.title0,
.body0 {
  background-color: rgb(127, 194, 239);
}
.title1,
.body1 {
  background-color: rgb(214, 133, 176);
}
.title2,
.body2 {
  background-color: rgb(219, 225, 89);
}
.tab-title {
  border: solid #999 1px;
  border-bottom: none;
  padding: 0.3em 0.5em;
  border-radius: 0.3em 0.3em 0 0;
  text-align: center;
  display: table;
  color: #fff;
}
.body0,
.body1,
.body2 {
  width: 100%;
  height: 200px;
  border-radius: 0 0.3em 0.3em 0.3em;
  padding: 1em;
}
.tab-body > div {
  width: 30%;
  height: 200px;
  border-radius: 0 0.3em 0.3em 0.3em;
  padding: 1em;
}

/* radio non-display */
.container .radio {
  display: none;
}
/* tabs position */
.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.container::after {
  content: "";
  width: 100%;
}
.container .tab-title {
  position: relative;
  border-bottom: 2px solid transparent;
  top: 2px;
  left: 2px;
}
.container .tab-title:hover {
  cursor: pointer;
}
.container .tab-body {
  order: 1;
}
/* tab's body init */
.add-control .tab-body > div {
  display: none;
}

/* selected tab's color change */
.add-control .radio:checked + .tab-title {
  color: #fff;
  border-bottom-color: #fff;
}
.add-control #tab1:checked ~ .title1 {
  background: rgba(127, 194, 239, 0.5);
}
.add-control #tab2:checked ~ .title2 {
  background: rgba(214, 133, 176, 0.5);
}
.add-control #tab3:checked ~ .title3 {
  background: rgba(219, 225, 89, 0.5);
}

/* tabs control */
.add-control #tab1:checked ~ .tab-body > .body1 {
  display: block;
}
.add-control #tab2:checked ~ .tab-body > .body2 {
  display: block;
}
.add-control #tab3:checked ~ .tab-body > .body3 {
  display: block;
}

.clear-images {
  width: 500px;
  margin: auto;
  margin-top: 100px;
}

.image {
  width: 600px;
  height: auto;
  /* object-fit: cover;
  object-position: 50% 50%; */
}
